<html>
    <header class="header">
        <div class="menu">

        </div>
        <div class="logo">
            <a href="{{ shop.url }}">
                {% if section.settings.logo != blank %}
                    {{ section.settings.logo | image_url: width: 200, height: 200 | image_tag: alt: shop.name }}
                {% else %}
                    {{ shop.name }}
                {% endif %}
            </a>
        </div>
    </header>
</html>

{% schema %}
{
    "name": "Header",
    "settings": [
        {"type": "image_picker", 
        "label": "Logo",
        "id": "logo",}
    ],
    "presets": [
        {
            "name": "Header",
        }
    ],
}
{% endschema %}